<ion-view view-title="Account">
  <ion-content class="padding">
    <div class="list">
      <a class="item item-thumbnail-left" ng-href="{{estudyUrl}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;">
	      <img src="img/favicon.ico">
	      <h2>Go to eStudy</h2>
	      <p>MDPA online campus</p>
      </a>

      <a class="item item-thumbnail-left" href="{{mdpaUrl}}" onclick="window.open(this.href, '_blank', 'location=no'); return false;">
	      <img src="img/logoSalle.jpg">
	      <h2>Go to MDPA</h2>
	      <p>MDPA web page</p>
      </a>

      <a class="item item-thumbnail-left" href="{{gplusUrl}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;">
	      <img src="img/google_plus_192dp.png">
	      <h2>Go to Google +</h2>
	      <p>Eduard de Torres G+ contact</p>
      </a>
    </div>
  </ion-content>
</ion-view>
