<ion-view view-title="Network Status">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Network Status</div>
      <div class="item item-body">
        <p >
          Status: 
          <i class="icon {{icon}}"></i>
        </p>
        <p > {{message}} </p>
      </div>
      <div class="item item-body row">
        <div class="col-50 col-offset-33">
          <button class="button button-balanced" ng-click="checkConnection()">
            Check Network
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
