<ion-view view-title="Battery Status">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Battery Status</div>
      <div class="item item-body">
        <p >
          Status: {{isPlugged}}
          <i class="icon {{icon}}"></i>
        </p>
        <p >Battery level: {{level}} %</p>
      </div>
      <div class="item item-body row">
        <div class="col-50 col-offset-33">
          <button class="button button-balanced" ng-click="checkBattery()">
            Check battery
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
