<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Battery Tab -->
  <ion-tab title="Battery Status" icon-off="ion-battery-empty" icon-on="ion-battery-full" href="#/tab/battery">
    <ion-nav-view name="tab-battery"></ion-nav-view>
  </ion-tab>

  <!-- Network Tab -->
  <ion-tab title="Network Status" icon-off="ion-wifi" icon-on="ion-wifi" href="#/tab/network">
    <ion-nav-view name="tab-network"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Web" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/web">
    <ion-nav-view name="tab-web"></ion-nav-view>
  </ion-tab>


</ion-tabs>
